<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
	{% include 'header.html' %}

	<div class="container">
	    <div class="dropdown">
	        <h2 onclick="toggleDropdown('primar')">Voturi Primar</h2>
	        <div class="dropdown-content" id="primar">
		        {% for candidate in mayor_candidates %}
	            <div class="incrementor">
	                <label for="{{ candidate.id }}"> {{ candidate.name }}</label>
	                <div class="input-inline-1">
	                    <button onclick='decrement("mayor", "{{ candidate.id }}")'>
		                    -
	                    </button>
	                    <input type="text" id="{{ candidate.id }}"
	                           value="{{ candidate.votes_count }}" readonly>
	                    <button onclick='increment("mayor", "{{ candidate.id }}")'>
		                    +
	                    </button>
	                </div>
	            </div>
		        {% endfor %}
	        </div>
	    </div>
	    <div class="dropdown">
		    <h2 onclick="toggleDropdown('cl')">Voturi Consiliul local</h2>
		    <div class="dropdown-content" id="cl">
			    {% for candidate in local_council_candidates %}
	            <div class="incrementor">
	                <label for="{{ candidate.id }}"> {{ candidate.name }}</label>
	                <div class="input-inline-1">
	                    <button onclick='decrement("cl", "{{ candidate.id }}")'>
		                    -
	                    </button>
	                    <input type="text" id="{{ candidate.id }}"
	                           value="{{ candidate.votes_count }}" readonly>
	                    <button onclick='increment("cl", "{{ candidate.id }}")'>
		                    +
	                    </button>
	                </div>
	            </div>
		        {% endfor %}
		    </div>


	    </div>
	    <div class="dropdown">
	        <h2 onclick="toggleDropdown('pres-cj')">Voturi Presedintele Consiliului
	            Jutdetean</h2>
	        <div class="dropdown-content" id="pres-cj">
			    {% for candidate in county_council_president_candidates %}
	            <div class="incrementor">
	                <label for="{{ candidate.id }}"> {{ candidate.name }}</label>
	                <div class="input-inline-1">
	                    <button onclick='decrement("cj-pres", "{{ candidate.id }}")'>
		                    -
	                    </button>
	                    <input type="text" id="{{ candidate.id }}"
	                           value="{{ candidate.votes_count }}" readonly>
	                    <button onclick='increment("cj-pres", "{{ candidate.id }}")'>
		                    +
	                    </button>
	                </div>
	            </div>
		        {% endfor %}
	        </div>
	    </div>
	    <div class="dropdown">
	        <h2 onclick="toggleDropdown('cj')">Voturi Consiliul Judetean</h2>
	        <div class="dropdown-content" id="cj">
			    {% for candidate in county_council_candidates %}
	            <div class="incrementor">
	                <label for="{{ candidate.id }}"> {{ candidate.name }}</label>
	                <div class="input-inline-1">
	                    <button onclick='decrement("cj", "{{ candidate.id }}")'>
		                    -
	                    </button>
	                    <input type="text" id="{{ candidate.id }}"
	                           value="{{ candidate.votes_count }}" readonly>
	                    <button onclick='increment("cj", "{{ candidate.id }}")'>
		                    +
	                    </button>
	                </div>
	            </div>
		        {% endfor %}
	        </div>
	    </div>
	</div>

</body>
</html>