<h2 onclick="toggleDropdown('cj')">Voturi Consiliul Judetean</h2>
<div class="dropdown-content" id="cj">
	<div class="incrementor disable-dbl-tap-zoom invalid-votes-container">
        <label for="county_council.invalid_votes"> Voturi nule </label>
        <div class=" input-inline disable-dbl-tap-zoom ">
            <button onclick='decrement("county_council", "invalid_votes")'
                    class="disable-dbl-tap-zoom">
                -
            </button>
            <input type="text" id="county_council.invalid_votes"
                   class="disable-dbl-tap-zoom "
                   value="{{ invalid_votes['county_council'] }}"
                   readonly>
            <button onclick='increment("county_council", "invalid_votes")'
                    class="disable-dbl-tap-zoom">
                +
            </button>
        </div>
    </div>
    {% for candidate in county_council_candidates %}
    <div class="incrementor">
        <label for="county_council.{{ candidate.id }}"> {{ candidate.name }}</label>
        <div class="input-inline-1">
            <button onclick='decrement("county_council", "{{ candidate.id }}")'>
                -
            </button>
            <input type="text" id="county_council.{{ candidate.id }}"
                   value="{{ candidate.votes }}" readonly>
            <button onclick='increment("county_council", "{{ candidate.id }}")'>
                +
            </button>
        </div>
    </div>
    {% endfor %}
</div>