<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
	<div class="container">
		{% if observer %}
	        <h1>Salut, {{ observer.first_name }}!</h1>
			<h2>Sectia de votare numarul {{ observer.voting_section_number }}</h2>
		{% endif %}
	</div>
	<div class="container">
	    <div class="dropdown">
	        {% include 'counting/mayor.html' %}
	    </div>
	    <div class="dropdown">
		    {% include 'counting/local_council.html' %}
	    </div>
	    <div class="dropdown">
		    {% include 'counting/county_council_president.html' %}
	    </div>
	    <div class="dropdown">
			{% include 'counting/county_council.html' %}
	    </div>
	</div>

</body>
</html>